.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
youxin-darwin-x64/
youxin-win32-ia32/
youxin-win32-x64/
Netease/
images/
appData/
app.asar
*.rar